*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: gainsboro;
}
.container{
    /*width: 27%;*/
    width: 350px;
    height: 230px;
    background-color: darkgray;
    border: 1px solid black;
    margin: auto;
    margin-top: 220px;
    border-radius: 6%;    
    padding: 20px 80px;
}
.box{
    width: 0%;
    padding: 0 5px;
}
form input{
    padding: 5%;
    margin: 7%;
    outline: none;
}
button{
    width: 80px;
    height: 27px;
    margin-top: 10px;
    background-color: gold;
}